body {
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  font-size: 16px;
  line-height: 1.15;
}
body, button, input, select, textarea {
  color: #272727;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div {
  display: block;
  unicode-bidi: isolate;
}
.brick {
  $block: &;
  display: flex;
  position: relative;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @media screen and (max-width: 448px) {
    
    border-radius: 0;
  }
}
.brick__action--active {
  color: inherit;
}
.brick__action {
  display: block;
  padding: 0 6px;
  color: #90999e;
}
#carbonads, .brick, .featured, .field__message, .modal-library__brick {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.14);
  border-radius: 2px;
  background: #fff;
}
.brick__action, .featured__visual-text {
  font-family: Roboto,sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.brick__title {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  max-width: 100%;
}
button {
  padding: 0;
  border: none;
  text-align: left;
  cursor: pointer;
  background: 0 0;
  color: inherit;
  font: inherit;
}
.brick__title-inner {
  flex-basis: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Roboto,sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}
button, select {
  text-transform: none;
}
button {
  overflow: visible;
}
.brick__header {
  position: relative;
  padding: 16px;
  height: 104px;
  border-bottom: 1px solid #e3e8ec;
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;
}
.viewer {
  color: #d15700;
}
.pipe__part-brick {
  width: 100%;
  min-width: 320px;
  max-width: 448px;
  flex-grow: 1;
}
.brick__actions {
  display: flex;
  flex-direction: row;
  margin: 0 -6px;
}
ol, ul {
  list-style-type: none;
  font: inherit;
}
li {
  font: inherit;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}
* {
  outline: 0;
  box-sizing: border-box;
  transition-timing-function: ease;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
}
div {
  display: block;
  unicode-bidi: isolate;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
.brick__title-caret {
  margin-top: 4px;
  margin-left: 4px;
  pointer-events: none;
}
.brick__title-caret svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.brick__btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 48px;
  color: #90999e;
}
.brick__content {
  line-height: 0;
}
.brick__status--hidden {
  display: none;
}
.brick__status {
  padding: 13px 16px;
  min-height: 48px;
  word-break: break-word;
  color: #90999e;
  transition-property: color;
}
.brick__status-icon {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.brick__status-message {
  display: inline;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
